@charset "utf-8";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "YuMincho", "游明朝", "Hiragino Mincho ProN", serif;
  position: relative;
}

form {
  background: #fff;
  width: 100%;
  /* margin: auto; */
  padding: 30px;
  min-width: 200px;
  max-width: 350px;
  /* box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 3px; */
}

group + group {
  margin-top: 12px;
}

.inline-radio {
  display: flex;
  border-radius: 3px;
  overflow: hidden;
  border: 1px solid #b6b6b6;


  div {
    position: relative;
    flex: 1;
  }

  input {
    width: 100%;
    height: 23x;
    opacity: 0;
  }

  label {
    position: absolute;
    top: 0; left: 0;
    /* color: #b6b6b6; */
    color: black;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    border-right: 1px solid #b6b6b6;
  }

  div:last-child label {
    border-right: 0;
  }

  input:checked + label {
    background: #d81b60;
    font-weight: 500;
    color: #fff;
  }
}


.subtitle {
  font-size: 13px;
  font-weight: normal;
  margin: 0;
  padding: 0 1em 0 30px;
  display: inline-block;
  vertical-align: middle;
}

.section0,.section1 {
  margin: 5px 30px 10px 30px;
  padding: 5px 10px 10px 10px;
  border: 1px solid black;
}

.section2 {
  margin: 5px 30px 10px 30px;
  padding: 0;
}

textarea {
  font-family: "YuMincho", "游明朝", "Hiragino Mincho ProN", serif;
  margin: 0;
  padding: 0;
}

p {
  margin: 0 0.25em 0.25em 0.25em;
  padding: 0.25em 2em 0.25em 2em;
}

h1 {
  margin: 0 0 0 0;
  padding: 10px 1em 0 1em;
  line-height: 1.2em;
  font-feature-settings: "palt";
}

h2 {
  border-bottom: 3px solid black;
  margin: 0 20px 0;
}

h3 {
  margin: 0 0 0;
  font-size: 24px;
}

h4 {
  border-bottom: 2px solid black;
  padding: 0 20px 0;
  margin: 0 20px 0;
}

h5 {
  margin: 0 0.25em 0 0.25em;
  padding: 0.5em 2em 0em 2em;
  font-size: 120%;
  font-weight: normal;
  text-decoration: underline;
}

rt {
  color: #4af;
  font-size: 50%;
}

li {
  padding: 0 1em;
  list-style: none;
}

dt {
  font-size: 140%;
  border-bottom: 2px solid black;
  margin: 0 1em;
  padding: 1px 10px 0px 1.5em;
}

dd {
  padding: 1px 6px 6px 2em;
  line-height: 1.8;
  margin: 0 1em;
}

table {
  border-collapse: collapse;
  /* margin: 0; */
  margin: 1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 100%;
  font-weight: normal;
}

table th,
table td {
  top: 0;
  border: solid 1px;
  border-bottom: 1px solid #000;
  margin: 2em;
}

#tateList {
  display: block;
  overflow-y: scroll;
  max-height: calc(100vh/2);
  border: 1px solid;
  border-collapse: collapse;
  border-spacing: 0;
  width: 600px;
  table-layout: fixed;
}

thead {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;
  /* background: whitesmoke; */
  background: whitesmoke;
  /* border-top: #ffffff; */
  border-top: 3px black;
  border-bottom: 1px solid #000;
}

#criteriaYellowList, 
#criteriaList, 
#criteriaGreenList {
  margin: 0.5em 2em;
}

/* #criteriaYellowList td:nth-of-type(2) {
  background: rgb(251, 251, 138);
}

#criteriaYellowList td:nth-of-type(3) {
  background: rgb(251, 251, 138);
}

#criteriaYellowList td:nth-of-type(4) {
  background: white;
}

#criteriaGreenList td:nth-of-type(2) {
  background: hsl(100,80%,90%);
}

#criteriaGreenList td:nth-of-type(3) {
  background: hsl(100,80%,90%);
}

#criteriaGreenList td:nth-of-type(4) {
  background: white;
} */


/* #tateList td:nth-of-type(1) {
  background: rgb(250, 200, 200);
  width: 150px;
}

#tateList td:nth-of-type(2) {
  background: hsl(208, 100%,95%);
  width: 150px;
}

#tateList td:nth-of-type(3) {
  background:  hsl(100,80%,90%);
  width: 150px;
}

#tateList td:nth-of-type(4) {
  background: white;
  width: 150px;
} */

td:nth-of-type(1) {
  background: rgb(250, 200, 200);
  width: 120px;
}

td:nth-of-type(2) {
  background: hsl(208, 100%,95%);
  width: 120px;
}

td:nth-of-type(3) {
  background: hsl(100,80%,90%);
  width: 120px;
}

td:nth-of-type(4) {
  background: white;
  width: 120px;
}

/* td:nth-of-type(5) {
  background: hsl(208, 100%,95%);
} */

#input {
  width: 100%;
  height: 6em;
  font-size: 100%;
  line-height: 1.5;
}

#fileInput {
  display: none;
}

.titleList {
  /* display: none; */
  font-size: 16px;
  padding: 4px 2px 5px 3px;
}

.smallList {
  /* display: none; */
  font-size: 12px;
  font-family: "游ゴシック", sans-serif;
  font-weight: bold;
}

.criterias {
  width: 100%;
  height: 3em;
  font-size: 100%;
  line-height: 1.5;
}

.note {
  display: none;
  /* width: 10em; */
  font-size: 12px;
  font-family: "游ゴシック", sans-serif;
  position: absolute;
  background-color: lavender;
  /* border: 1px solid black;  */
  padding: 5px;
  z-index: 1;
}

.note-container {
  position: relative;
  /* display: inline-block; */
  display: inline;
}

.note-container:hover .note {
  /* display: inline-block;  */
  display: inline;
  width: 10em;
}

#output {
  font-family: "YuMincho", "游明朝", "Hiragino Mincho ProN", serif;
  width: 90%;
  font-size: 100%;
  line-height: 1.5;
  padding: 0 20px 0;
}

#chuuki {
  font-family: "YuMincho", "游明朝", "Hiragino Mincho ProN", serif;
  width: 90%;
  font-size: 100%;
  line-height: 1.5;
  padding: 0 20px 0;
  overflow-wrap: anywhere;
}

#zoomback {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

#zooming {
  width: 80%;
}

.zoom {
  margin: 5px 0 0 0;
}

.pc-nav {
  width: 100%;
  height: 29px;
  margin: -12px 0 0 0;
  padding: 0px 10px 0 10px;
  font-size: 110%;
  background: black;
  font-family: "YuMincho", "游明朝", "Hiragino Mincho ProN", serif;
  font-feature-settings: "palt";
}

.pc-nav ul {
  display: flex;

}

.pc-nav ul li {
  list-style: none;
}

.pc-nav ul li a {
  display: block;
  text-decoration: none;
  margin: 0 10px 0 0;
  padding: 2px 0 0 0;
  color: white;
}

.kanji {
  position: relative;
  background: yellow;
}

.kanji.joyo {
  background: transparent;
}

.kanji.itaiji {
  color: red;
}

.kanji.shikaru {
  color: black;
}

.kyocho {
  color: red;
  font-size: 120%;
}

.kakomi {
  border: 4px darkslategray dotted;
  margin: 3px 1em;
  padding: 1%;
}

.big160 {
  font-size: 160%;
}

.big240 {
  font-size: 240%;
}

.small60 {
  font-size: 60%
}

.gray {
  opacity: 0.7;
}

.accordion_title {
  position: relative;
  cursor: pointer;
  user-select: none;
  padding: 0 0 0 30px;
  min-height: 1em;
}

/* .accordion_title:hover {
  background-color: #c1c7c7be;
} */

.titleList {
  position: relative;
  line-height: 0.5;
}

.selectsheetform {
  column-width: 300px;
}



#criteriaInputFileName {
  line-height: 0.5;
}

.accordion_title::before,
.accordion_title::after {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 15px;
  height: 2px;
  background-color: red;
}

.accordion_title::before {
  top: 16px;
  left: 6px;
  transform: rotate(0deg);
  transition-duration: .3s;
}

.accordion_title::after {
  top: 16px;
  left: 6px;
  transform: rotate(-90deg);
  transition-duration: .3s;
}

.accordion_title.is-active::before {
  transform: rotate(45deg);
}

.accordion_title.is-active::after {
  transform: rotate(-45deg);
}

.accordion_content {
  line-height: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition-duration: .3s;
}

.accordion_content.is-open {
  line-height: normal;
  height: auto;
  opacity: 1;
  line-height: normal;

  /* position: absolute; */
  display: block;
}

.kugiri {
  position: relative;
}

.sp-nav {
  display: none;
}

.dangumi {
  margin: 0 0.25em 0.25em 0.25em;
  padding: 0.25em 2em 0.25em 2em;
}

.dangumi li {
  padding: 0 0 0 0.25em;
}

.dangumi li ul {
  padding: 0 1em 0 1em;
}

.caption {
  font-size: 13px;
  font-weight: normal;
  margin: -20px 0 0 0;
  vertical-align: text-bottom;
}

.red {
  color: red;
}

.blue {
  color: dodgerblue;
}

.bold {
  font-weight: bold;
  font-family: sans-serif;
}

.qq:hover {
  display: inline-block;
  transform: rotate(360deg);
  transition: all 1s;
}

.qqq:hover {
  display: inline-block;
  transform: rotate(-360deg);
  transition: all 1s;
}

#qualityCenter {
  position: absolute;
  top: 0;
  width: 90vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: none;
  margin: 0 1em;
}

.akaami {
  background: rgb(250, 200, 200);
}

.kiami {
  background: rgb(251, 251, 138);
}

.aoami {
  background: hsl(208, 100%,95%);
}

.orangeami {
  background: bisque;
}

.greenami {
  /* background: greenyellow; */
  background: hsl(100,80%,90%);
}

.green2ami {
  background: green;
}

.lavender {
  background: lavender;
}

/* #saveCriteriaButton{
   display: none;
} */


@media screen and (max-width: 380px) {

  .pc-nav {
    display: none;
  }

  .caption {
    display: none;
  }

  #hamburger {
    position: relative;
    display: block;
    width: 30px;
    height: 25px;
    margin: 10px 15px 0 auto;
  }

  #hamburger span {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: translateY(-50%);
  }

  #hamburger::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
  }

  #hamburger::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
  }

  .sp-nav {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: block;
    background: white;
    color: black;
    transition: all .2s ease-in-out;
    opacity: 0;
    transform: translateY(-100%);
    list-style: none;
  }

  .sp-nav ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

  }

  .sp-nav li {
    margin: 0;
    padding: 0;
  }

  .sp-nav li span {
    font-size: 180%;
    color: black;
  }

  .sp-nav li a,
  .sp-nav li span {
    display: block;
    padding: 20px 0;
    text-decoration: none;
    color: black;
    font-size: 180%;
  }

  .sp-nav .close {
    position: relative;
    padding-left: 30px;
  }

  .sp-nav .close::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 24px;
    height: 2px;
    background: black;
    transform: rotate(45deg);
  }


  .sp-nav .close::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 24px;
    height: 2px;
    background: black;
    transform: rotate(-45deg);
  }

  .toggle {
    transform: translateY(0);
    opacity: 1;
  }


}